[submodule "Plugins/sort-me-sketch"]
	path = Plugins/sort-me-sketch
	url = https://github.com/romashamin/sort-me-sketch
[submodule "Plugins/social-artboards-sketch"]
	path = Plugins/social-artboards-sketch
	url = https://github.com/herrhelms/social-artboards-sketch
[submodule "Plugins/sketchdistributor"]
	path = Plugins/sketchdistributor
	url = https://github.com/pez/sketchdistributor
[submodule "Plugins/Sketch-Style-Inventory"]
	path = Plugins/Sketch-Style-Inventory
	url = https://github.com/getflourish/Sketch-Style-Inventory
[submodule "Plugins/sketch-palettes"]
	path = Plugins/sketch-palettes
	url = https://github.com/andrewfiorillo/sketch-palettes
[submodule "Plugins/sketch-measure"]
	path = Plugins/sketch-measure
	url = https://github.com/utom/sketch-measure
[submodule "Plugins/Sketch-Find-And-Replace"]
	path = Plugins/Sketch-Find-And-Replace
	url = https://github.com/thierryc/Sketch-Find-And-Replace
[submodule "Plugins/sketch-dynamic-button-3.5"]
	path = Plugins/sketch-dynamic-button-3.5
	url = https://github.com/fuggfuggfugg/sketch-dynamic-button-3.5
[submodule "Plugins/sketch-data-populator"]
	path = Plugins/sketch-data-populator
	url = https://github.com/preciousforever/sketch-data-populator
[submodule "Plugins/sketch-commands"]
	path = Plugins/sketch-commands
	url = https://github.com/bomberstudios/sketch-commands
[submodule "Plugins/RenameIt"]
	path = Plugins/RenameIt
	url = https://github.com/rodi01/RenameIt
[submodule "Plugins/gb-sketch-segmentcircle"]
	path = Plugins/gb-sketch-segmentcircle
	url = https://github.com/design4use/gb-sketch-segmentcircle
[submodule "Plugins/BaseAlign"]
	path = Plugins/BaseAlign
	url = https://github.com/abynim/BaseAlign
[submodule "Plugins/chromatic-sketch"]
	path = Plugins/chromatic-sketch
	url = https://github.com/petterheterjag/chromatic-sketch
[submodule "Plugins/nudgepushshove"]
	path = Plugins/nudgepushshove
	url = https://github.com/mfouquet/nudgepushshove
[submodule "Plugins/RemoveAllGuides"]
	path = Plugins/RemoveAllGuides
	url = https://github.com/ichik/RemoveAllGuides
